// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    color: $gray-700;

    &:hover {
      text-decoration: none;
    }

    i {
      border-radius: 100%;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.stack-info {
  color: white;
}

.download-btn {
  border-radius: 2px;
}

.project-container {
  position: relative;
  height: auto;
  width: auto;
  justify-content: center;
  text-align: center;
  background-color: #1e2129;
  &:hover .project-description {
    display: grid;
    text-align: left;
  }
}

.description-title {
  color: white;
}

.project-description {
  display: none;
  color: white;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
}
.overlay {
  position: absolute;
  background: black;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: -1;
}

.project-video {
  width: 100%;
  z-index: -1;
}

.description-title {
  justify-self: center;
}

.description-p {
  font-size: 0.8rem;
  margin: 0px 20px 0px 20px;
}

.live-site-btn {
  justify-self: center;
  font-size: 0.8rem;
  color: white;
  border-color: white;
  padding: 0px 5px 0px 5px;
}
